body {
    font-family: Sans-Serif;
    margin: 0;
    color: #FFFFFF;
}

.bg {
    background: rgb(9,13,121);
    background: linear-gradient(21deg, rgba(9,13,121,1) 0%, rgba(61,9,121,1) 45%, rgba(136,0,170,1) 100%);
    min-height: 100%;
    min-width: 100%;
    position: fixed;
}

h1, h3 {
    margin: 10px 0px 20px 0px;
}

.container {
	min-width: 60%;
    margin: 0 auto;
    background-color: rgb(9 0 48);
    border-radius: 30px;
    padding: 30px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.answers-box {
    max-width: 100%;
    min-height: 300px;
    background-color: rgb(38 21 114);
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;

    padding: 10px;

    transition: all .2s ease-in-out;
}

.answers-element {
    border: #7f1edf;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    text-align: center;
    padding: 15px;
    margin: 10px;
}
.answers-element > p {
    margin: 0;
    color: white;
    font-size: 20px;
    user-select: none;
    font-weight: bold;
}

.answers-element {
    transition: all .2s ease-in-out;
}
.answers-element:hover {
    transform: scale(1.02);
    background-color: #7f1edf;
}
.answers-element:active {
    background-color: #b060ff;
    border-color: #b060ff;
}

.success-bar-bg {
    min-height: 5px;
    border-radius: 2.5px;
    background-color: rgb(255 34 34);
    display: flex;
    margin: 20px 20px 0px 20px;
}
.success-bar {
    background-color: rgb(98, 253, 118);
    min-width: 25%;
    transition: all 1s ease-in-out;
}
.text-success {
    font-size: 20px;
    text-align: right;
    margin: 10px 20px 0px 20px;
}

.division {
    min-height: 2px;
    background-color: rgb(38 21 114);
    margin: 40px -10px 0px -10px;
}
.text-correct-answer {
    font-size: 20px;
    text-align: left;
    margin: 20px 10px 0px 10px;
    font-weight: bold;
}